.resumen-orden {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 82vh;
  overflow-y: auto;
}
.titulo-resumen {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.1; /* Ajusta para que el texto ocupe menos espacio vertical */
}

.lista-productos {
  flex: 0 0 auto;  /* crece para llenar espacio */
  overflow-y: auto; /* scroll para la lista de productos */
  min-height: 0; /* muy importante para scroll en flexbox */
}

.item-carrito {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.9rem;
  margin-bottom: 0.8rem;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.item-controles {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.25rem;
}

.item-controles button {
  padding: 2px 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #2196f3;
  cursor: pointer;
}

.item-controles .eliminar {
  color: rgb(255, 0, 0);
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.formulario-cliente {
  max-width: 300px;   /* ancho fijo para el formulario */
  margin: 0 auto;     /* centrar todo el formulario */
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.formulario-cliente label {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
}

.formulario-cliente input {
  width: 100%;         /* que ocupe todo el ancho posible */
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;           /* evitar márgenes extra */
  display: block;
}

.total {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

.metodo-pago-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 300px;
  margin-top: 1rem;
}

.btn.pago {
  padding: 0.75rem 0;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  color: #fff;
  transition: background-color 0.3s ease;
}

/* Colores específicos */
.btn.efectivo {
  background-color: #048104; /* verde claro */
  color: #ffffff;
}

.btn.mixto {
  background-color: #ffffff; /* blanco */
  color: #333;
  border: 1px solid #ccc;
}

.btn.yape {
  background-color: #971ba4; /* morado */
  color: #fff;
}

.btn.plin {
  background-color: #4dddd6; /* celeste */
  color: #fff;
}

.btn.pago:hover {
  filter: brightness(0.9);
}

.trash-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}