
/* === INPUTS GENERALES === */
input[type="text"],
input[type="date"] {
  padding: 8px 12px; 
  font-size: 1rem;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  width: 220px;
  margin: 0 10px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="date"]:focus {
  border-color: #bdbdbd;
  outline: none;
  box-shadow: 0 0 4px rgba(190, 190, 190, 0.5); 
}

/* === SELECTS GENERALES === */
select {
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 220px;
  margin: 0 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  background-color: white;
}

select:focus {
  border-color: #bdbdbd;
  outline: none;
  box-shadow: 0 0 4px rgba(190, 190, 190, 0.5);
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;  /* importante para que ocupen toda la altura */
  background-color: #fafafa; /* o el color que quieras de fondo */
  font-family: system-ui, sans-serif;
}

/* === BOTONES PARA VENDEDOR === */

/* === BOTONES GENERALES BUSCAR VENDEDOR === */
.boton-buscar-vendedor,
.boton-buscar {
  background-color: #0da5fd;
  color: white;
  border: none;
  padding: 10px 18px; 
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  min-width: 120px;
  margin:15px;
}

.boton-buscar-vendedor:hover,
.boton-buscar:hover {
  background-color: #0699ee; /* un verde más oscuro, por ejemplo */
}

/* === BOTONES GENERALES AGREGAR ADMIN=== */
.boton-agregar-vendedor,
.boton-agregar {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 18px; 
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  min-width: 150px;
  margin: 15px;
}

.boton-agregar-vendedor:hover,
.boton-agregar:hover {
  background-color: #218838;
}


/* === BOTONES PARA ADMINISTRADOR === */


/* === BOTONES GENERALES BUSCAR ADMIN=== */
.boton-buscar-admin,
.boton-buscar {
  background-color: #4143BE;
  color: white;
  border: none;
  padding: 10px 18px; 
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  min-width: 120px;
  margin:15px;
}
.boton-buscar-admin:hover,
.boton-buscar:hover {
  background-color: #3234bd; /* un verde más oscuro, por ejemplo */
}

/* === BOTONES GENERALES AGREGAR ADMIN=== */
.boton-agregar-admin,
.boton-agregar {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 18px; 
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  min-width: 120px;
  margin: 15px;
}
.boton-agregar-admin:hover,
.boton-agregar:hover {
  background-color: #218838;
}

/* === BOTONES GENERALES AAAA=== */


.boton-agregar-cierreCaja {
  background-color: #4143be;
  color: white;
  border: none;
  padding: 10px 18px; 
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  min-width: 150px;
  margin: 15px;
}

.boton-agregar-cierreCaja:hover{
  background-color: #4143be; /* un verde más oscuro, por ejemplo */
}


.boton-cancelar-admin,
.boton-cancelar {
  background-color: #2b2b2b;
  color: white;
  border: none;
  padding: 10px 18px; 
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  min-width: 120px;
  margin: 15px;
}
.boton-cancelar-admin:hover,
.boton-cancelar:hover {
  background-color: #000000;
}

.boton-add-admin,
.boton-add {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 18px; 
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  min-width: 120px;
  margin: 15px;
}
.boton-add-admin:hover,
.boton-add:hover {
  background-color: #e70c0c;
}
